<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- <meta property="og:image" content="https://drive.google.com/file/d/1rEfLLToGlYQqOzNFpxZOBxMslIvmJD10/view?usp=sharing" />
    <link rel="icon" href="https://drive.google.com/file/d/1rEfLLToGlYQqOzNFpxZOBxMslIvmJD10/view?usp=sharing"> -->
    <meta property="og:description" content="This project Avalon Online is an adaptation of the board game called 'The Resistance: Avalon'"/>
    <meta property="og:title" content="Avalon Online" />
    <title>Avalon Online</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="javascripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/game.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.8.2.js"></script>
</head>

<body>
    <!--Popup Box-->
    <script type='text/javascript'>
    $(function(){
    var overlay = $('<div id="overlay"></div>');
    overlay.show();
    overlay.appendTo(document.body);
    $('.popup').show();
    $('.close').click(function(){
    $('.popup').hide();
    overlay.appendTo(document.body).remove();
    return false;
    });
    
    $('.x').click(function(){
    $('.popup').hide();
    overlay.appendTo(document.body).remove();
    return false;
    });

    $(document).on('keydown', function(event) {
        if (event.key == "Escape") {
            $('.popup').hide();
            overlay.appendTo(document.body).remove();
            return false;
    }
    });

    $(document).on('keydown', function(event) {
        if (event.key == "Enter") {
            $('.popup').hide();
            overlay.appendTo(document.body).remove();
            return false;
    }
    });
    });
    </script>
    <div class='popup'>
        <div class='cnt223'>
            <a href='' class='close'>X</a>
            <h1 style="height:40px; color: goldenrod;">Avalon Online</h1>
            <h3 style="margin: -11px auto;">The goal of Avalon</h3><br>
            <ul>
            <li>Players are either Loyal Servants of Arthur fighting for Goodness and honour or aligned with the Evil ways of Mordred.
            <li>Good wins the game by successfully completing three Quests
                <li>Evil wins if three Quests end in failure or by assassinating Merlin at the game’s end or if a Quest cannot be undertaken.
                </ul>
            <h3 style="margin: -11px auto;">Player</h3><br>
                <ul>
                    <div class="avalonplayer"></div>
                    This is a number of Good Role and Evil Role that can be selected (Merlin and Assassin will always be included) and randomize to all players.
                </ul>
            <h3 style="margin: -11px auto;">Role</h3><br>
            <table>
                <tr>
                    <td colspan="2">&nbsp;&nbsp;<span>Good roles:</span><br></td>
                </tr>
                <tr>
                    <td><div class="merlinimg"></div></td>
                    <td>&nbsp;&nbsp;<label for="Merlin">Merlin: Knows all evils</label> </td>
                </tr>
                <tr>
                    <td><div class="percivalimg"></div></td>
                    <td>&nbsp;&nbsp;<label for="Percival">Percival: Know who is Merlins (Real Merlin and Morgana) but doesn't know which is which.</label> </td>
                </tr>
                <tr><td><br></td></tr>
                <tr>
                    <td colspan="2">&nbsp;&nbsp;<span>Evil roles:</span><br></td>
                </tr>
                <tr>
                    <td><div class="morganaimg"></div></td>
                    <td>&nbsp;&nbsp;<label for="Morgana">Morgana: Appear to be Merlin to Percival</label></td>
                </tr>
                <tr>
                    <td><div class="assassinimg"></div></td>
                    <td>&nbsp;&nbsp;<label for="Assassin">Assassin: Can try to assassin Merlin at the end of the game to win</label></td>
                </tr>
                <tr>
                <td><div class="mordredimg"></div></td>
                    <td>&nbsp;&nbsp;<label for="Mordred">Mordred: Doesn’t appear to Merlin</label></td>
                </tr>
                <tr>
                    <td><div class="oberonimg"></div></td>
                    <td>&nbsp;&nbsp;<label for="Oberon">Oberon: Doesn't appear to another evil player</label></td>
                </tr>
            </table><br>
            <br><h3 style="margin: -11px auto;">Game Play</h3>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h4 style="margin: -6px auto;">Team Building</h4>
                <ul>
                    <div class="avalonquest"></div>
                    After the team leader is selected. The leader can assign each player to be in the quest team. The leader can be on the team however this is not a requirement. Then when team selection is over, all the players vote if the team is appropriate or not. If the majority vote agrees, then continue to Quest phase but if not, leaders elected the new team. Moreover, if a team is rejected five times in a single round, then EVIL win!
                </ul>
            <br><h3 style="margin: -11px auto;">Game Play</h3>
                <ul>
                    <li>Players on the quest team get to select between two options: success and fail. If all players select success, then the quest is success but if one or more fails the quest then fail.</li>
                </ul>
            <br><h3 style="margin: -11px auto;">Things to Note:</h3>
                <ul>
                    <li>Good players can only choose Success while Evil players can choose either a Failure or Success.</li>
                    <li>In 7 or more players game, the 4th Quest (and only the 4th Quest) requires at least two Quest Fail.</li>
                    <li>When the Quest has been completed (either success or failed), the Leader passes on and Team building begins.</li>
                </ul>
            <br/>
            </div>
        </div>
        <!--End of Popup Box-->

        <h1 id="title" style="height:40px; color: goldenrod; margin: 1px auto; text-align: center; font-size: 350%;"> &nbsp; Avalon Online</h1>
        <br><br><div class="findRoom" style="color: black; border-radius: 25px; background-color: #ecc29b; border-style: solid; border-color: silver; border-width: 5px; padding: 20px; margin: 1px auto;">
            Choose room
        </div>
        <div class="room" style="width:100%; display:none;">
            <br><br>
            <div class="setName">
                <span id="connectStatus">Connecting...</span>
                <input type="text" id="nameInput" autocomplete="off" placeholder="Your Name"/>
            </div>
            <br>
            <div style="width:100%; height:60%;">
                <div id="gameInformArea" style="color: white;">
                    <br>
                    &nbsp;&nbsp;<span id="stateDisplay" class="allStates">Status : Wating</span><br>
                    &nbsp;<div class="allStates">
                        <span id="roomOwner"></span><br>
                        <span id="lastGameWinner"></span><br>
                        <span id="lastMissionResult"></span><br>
                    </div>

                    <div class="gameDetails">
                        <span id="playerRole"></span><br>
                        <span id="leader"></span><br>
                        <span id="turn"></span><br>
                        <span id="vote_turn"></span><br>
                        <span id="team_size"></span><br>
                        <span id="two_fail"></span><br>
                        <span id="success_time"></span><br>
                        <span id="fail_time"></span><br>
                    </div>
                    <div class="sendMission" id="sendMissionInform">
                    </div>
                    <div class="vote">
                    </div>
                    <div class="mission">
                    </div>
                    <div class="update">
                    </div>
                    <div class="findMerlin">
                    </div>
                    <div class="wait">
                        &nbsp;&nbsp;&nbsp;<button id="playButton">play</button>
                        &nbsp;&nbsp;&nbsp;<button id="readyButton">ready</button>
                    </div>
                    <div id="rolesForm" class="randomRole">
                        <span id="rolesInformation"></span><br>
                        <table>
                            <tr>
                                <td colspan="2">&nbsp;&nbsp;<span>Good roles:</span><br></td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;<input type="checkbox" id="Merlin" value="Merlin" checked="checked" class =" good_check"></td> 
                                <td><div class="merlinimg"></div></td>
                                <td>&nbsp;&nbsp;<label for="Merlin">Merlin (Knowns evil, must remain hidden)</label> </td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;<input type="checkbox" id="Percival" value="Percival" class=" good_check"></td>
                                <td><div class="percivalimg"></div></td>
                                <td>&nbsp;&nbsp;<label for="Percival">Percival (Knows Merlin)</label> </td>
                            </tr>
                            <tr><td><br></td></tr>
                            <tr>
                                <td colspan="2">&nbsp;&nbsp;<span>Evil roles:</span><br></td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;<input type="checkbox" id="Morgana" value="Morgana" class=" evil_check"></td> 
                                <td><div class="morganaimg"></div></td>
                                <td>&nbsp;&nbsp;<label for="Morgana">Morgana (Appears as Merlin)</label></td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;<input type="checkbox" id="Assassin" value="Assassin" checked=" checked" class ="evil_check"> </td>
                                <td><div class="assassinimg"></div></td>
                                <td>&nbsp;&nbsp;<label for="Assassin">Assassin (Minion of Mordred)</label></td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;<input type="checkbox" id="Mordred" value="Mordred" class=" evil_check"> </td>
                                <td><div class="mordredimg"></div></td>
                                <td>&nbsp;&nbsp;<label for="Mordred">Mordred (Unknown to Merlin)</label></td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;<input type="checkbox" id="Oberon" value="Oberon" class="evil_check"> </td>
                                <td><div class="oberonimg"></div></td>
                                <td>&nbsp;&nbsp;<label for="Oberon">Oberon (Unknown to Evil)</label></td>
                            </tr>
                        </table><br>
                        &nbsp;&nbsp;&nbsp;<button id="rolesDoneButton">Done</button>
                    </div>
                </div>
                <div id="gameArea">
                    <table class="gameTable"><tr id="gameTableUp"></tr></table>
                    <table class="gameTable"><tr id="gameTableDown"></tr></table>
                </div>
        
            </div>
            <div class="allStates" id="chatRoom">
                <div class="displayChat" style="display:inline-block;">
                    <div id="chatArea">
                        <div id="content"></div>
                    </div>
                    <span id="status">Connecting...</span>
                    <input type="text" id="input" autocomplete="off" />
                </div>
            
                <div class="displayChat" style="position:absolute; display:inline-block; top:10 px   ; left:420px;">
                    <!--<span>Player List</span>-->
                    <table id="playerList"></table>
                </div>
            </div>
        
    </div>
</body>
</html>



    <!--Script-->
